.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30em;
}

.searchbar {
    padding: .75em 1.2em .75em 3em;
    border-radius: 3em;
    font-size: 1.05em;
    width: 100%;
    border: none;
}

.searchbar:focus {
    outline: none;
}