@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    position: relative;
}

body {
    font-family: Roboto;
}

a {
    color: inherit;
    text-decoration: none;
}

.MuiFormControlLabel-root {
    color: white;
}